# Custom Files
resources/
resources.tgz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.idea/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
vocabularies/
resources/
resources.tgz
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#TestData (Rami)
Data_R/

#Rami_Gitignore
isas-commoncrawl.csv

eval/taxi_eval_archive/input/.nfs000000007c4c200100000001
eval/taxi_eval_archive/input/.~lock.system.taxo#
eval/taxi_eval_archive/input/.~lock.system_or.taxo#
eval/taxi_eval_archive/input/system2.taxo
eval/taxi_eval_archive/input/system_from_local.taxo
resources.tgz.1
resources.tgz.2
wget-log
taxi_output/simple_test/output.txt


distributed_semantics/GoogleNews-vectors-negative300.bin
distributed_semantics/reddit_vectors-1.1.0/
distributed_semantics/wiki-news-300d-1M-subword.vec

distributed_semantics/crawl-300d-2M.vec
distributed_semantics/wiki-news-300d-1M.vec.zip
distributed_semantics/wiki.en.bin
distributed_semantics/wiki.en.vec

distributed_semantics/reviews_data.txt
distributed_semantics/reviews_data.txt.gz
distributed_semantics/trial_emb
distributed_semantics/trial_emb.trainables.syn1neg.npy
distributed_semantics/trial_emb.trainables.vectors_ngrams_lockf.npy
distributed_semantics/trial_emb.trainables.vectors_vocab_lockf.npy
distributed_semantics/trial_emb.wv.vectors.npy
distributed_semantics/trial_emb.wv.vectors_ngrams.npy
distributed_semantics/trial_emb.wv.vectors_vocab.npy

distributed_semantics/enwiki-latest-pages-articles.xml
distributed_semantics/wikipedia_utf8_filtered_20pageviews.csv

other
.idea/
Model/
TExEval_trialdata_1.2
property_analysis/

distributed_semantics/own_embeddings
distributed_semantics/own_embeddings.trainables.syn1neg.npy
distributed_semantics/own_embeddings.trainables.vectors_ngrams_lockf.npy
distributed_semantics/own_embeddings.trainables.vectors_vocab_lockf.npy
distributed_semantics/own_embeddings.wv.vectors.npy
distributed_semantics/own_embeddings.wv.vectors_ngrams.npy
distributed_semantics/own_embeddings.wv.vectors_vocab.npy
distributed_semantics/own_embeddings_w2v
distributed_semantics/own_embeddings_w2v.trainables.syn1neg.npy
distributed_semantics/own_embeddings_w2v.wv.vectors.npy


