backports.functools-lru-cache==1.5
certifi==2018.4.16
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
kiwisolver==1.0.1
matplotlib==2.2.2
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
nltk==3.3
numpy==1.14.5
pandas==0.23.1
pathlib==1.0.1
plac==0.9.6
plumbum==1.6.6
preshed==1.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
regex==2017.4.5
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
spacy==2.0.11
stop-words==2015.2.23.1
subprocess32==3.5.2
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.23.4
treetagger==1.0.1
ujson==1.35
wrapt==1.10.11
